@font-face {
    font-family: 'Codec Pro';
    src: url('./assets/fonts/CodecPro-News.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color1: #24537f;
    --color2: #108ba8;
    --color3: #166e93;
    --color4: #45d69e;
    --color5: #d9d9d9;
    --color6: #1a1a1a;
    --color7: #9a9a9a;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-user-drag: none;
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    user-select: none;
    font-size: clamp(15px, 2.5vw, 20px);
    font-family: "Codec Pro", sans-serif;
}

html,
body {
    width: 100dvw;
    height: 100dvh;
    overflow: hidden;
    background: black;
}